/* styles/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vw: 1440;
  --multiplier: 100vw;
  --bg-color: #2b3530;
  --text-color: #d1ccbf;
  --accent-color: #ca7d57;
  --highlight-color: #ced1bf;
}

@media (max-width: 767.98px) {
  :root {
    --vw: 375;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-family: 'Basis Grotesque', sans-serif;
  font-size: calc(20 / var(--vw) * var(--multiplier));
  font-weight: 400;
  line-height: 1;
  min-height: 100vh;
}

@media (max-width: 767.98px) {
  body {
    font-size: calc(16 / var(--vw) * var(--multiplier));
  }
}

.app {
  position: relative;
  width: 100%;
}

.container {
  display: block;
  padding: 0 calc(64 / var(--vw) * var(--multiplier));
  position: relative;
  width: 100%;
}

@media (max-width: 767.98px) {
  .container {
    padding: 0 calc(15 / var(--vw) * var(--multiplier));
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: calc(24 / var(--vw) * var(--multiplier));
}

@media (max-width: 767.98px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: calc(16 / var(--vw) * var(--multiplier));
  }
}

.d-desktop {
  display: initial;
}

@media (max-width: 767.98px) {
  .d-desktop {
    display: none !important;
  }
}

.d-mobile {
  display: none;
}

@media (max-width: 767.98px) {
  .d-mobile {
    display: initial;
  }
}

.link {
  color: currentColor;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  width: fit-content;
}

.link:not(.btn, button):before {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  pointer-events: none;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s cubic-bezier(0.24, 0.43, 0.15, 0.97);
  width: 100%;
}

.link:not(.btn, button):hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.link.active:before {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.border {
  background-color: var(--text-color);
  height: 1px;
  width: 100%;
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  clip-path: inset(0 0 99.9% 99.9%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}